<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Создание нового участка</title>
</head>
<body>
<form th:action="@{/addArea}" th:object="${areaRequest}" th:method="POST">
  Полное название
  <input type="text" th:field="*{areaFullName}" required>
  </br>
  Короткое название
  <input type="text" th:field="*{areaShortName}">
  </br>
  Разговорное название
  <input type="text" th:field="*{areaConversationalName}">
  </br>
  Принадлежность к цеху
  <select name="sectionId">
    <option th:each="dto: ${sectionDTOList}" th:value="${dto.id}" th:label="${dto.sectionFullName}"></option>
  </select>
  </br>
  <input type="submit" value="Создать">
</form>
</body>
</html>