<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ввод новой единицы оборудования</title>
</head>
<body>
<form th:action="@{/addEquipment}" th:object="${equipmentRequest}" th:method="POST">
    Модель
    <input type="text" th:field="*{machineModel}" required>
    </br>
    Страна производства
    <input type="text" th:field="*{manufacturerCountry}">
    </br>
    Фирма-роизводитель
    <input type="text" th:field="*{manufacturer}">
    </br>
    Год производства
    <input type="text" th:field="*{manufacturingYear}">
    </br>
    Заводской/серийный номер
    <input type="text" th:field="*{machineNumber}">
    </br>
    Дополнительная информация
    <input type="text" th:field="*{details}">
    </br>
    Принадлежность к типу
    <select name="machineTypeId">
        <option value="1">Линия раскроя рулонов</option>
        <option value="2">Станок раскроя листового металла</option>
        <option value="3">Прокатный стан</option>
        <option value="4">Линия мелкой детали</option>
        <option value="5">Линия перфорации</option>
        <option value="6">Листогиб</option>
        <option value="7">Пресс кривошипный</option>
        <option value="8">Координатно-пробивной пресс</option>
        <option value="9">Вальцы гибочные</option>
        <option value="10">Станок ленточнопильный</option>
        <option value="11">Станок вертикально-сверлильный</option>
        <option value="12">Труборез</option>
        <option value="13">Трубогиб</option>
        <option value="14">Линия автоматической сварки</option>
        <option value="15">Пресс-ножницы комбинированные</option>
        <option value="16">Пресс для правки</option>
        <option value="17">Гильотинные ножницы</option>
    </select>
    </br>
    Принадлежность к участку
    <select name="areaId">
        <option value="1">Цех металлообработки первый пролет</option>
        <option value="2">Цех металлообработки второй пролет</option>
        <option value="3">Цех металлообработки первый закуток</option>
        <option value="4">Цех металлообработки второй закуток</option>
        <option value="5">Цех металлообработки пристрой</option>
        <option value="6">Цех продольной резки рулонов #1</option>
        <option value="7">Цех продольной резки рулонов #2</option>
        <option value="8">Цех металлопроката</option>
        <option value="9">Цех пресс-ножниц</option>
        <option value="10">Цех порошковой окраски</option>
        <option value="11">Цех горячего цинкования второй пролет</option>
        <option value="12">Цех горячего цинкования третий пролет</option>
    </select>
    </br>
    <input type="submit" value="Создать">
</form>
</body>
</html>