<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Перечень оборудования</title>
</head>
<body>
<div>
    <table border="1" width="100%">
        <tr>
            <th sec:authorize="hasRole('ADMIN')">Id</th>
            <th width="500px">Модель</th>
            <th width="50px">Страна производства</th>
            <th width="100px">Фирма-производитель</th>
            <th width="50px">Год производства</th>
            <th width="150px">Заводской/серийный номер</th>
            <th width="500px">Дополнительная информация</th>
            <th width="50px" sec:authorize="hasRole('ADMIN')">Id типа оборудования</th>
            <th width="50px" sec:authorize="hasRole('ADMIN')">Id участка</th>
            <th width="75px">Файловое хранилище</th>
        </tr>
        <tr th:each ="dto : ${equipmentDTOList}">
            <td sec:authorize="hasRole('ADMIN')" th:utext="${dto.id}">...</td>
            <td>
                <a th:utext="${dto.machineModel}"></a>
                <select onchange="top.location=this.value">
                    <option value="">--Выберите необходимое действие--</option>
                    <option sec:authorize="hasRole('ADMIN')" th:value="@{/equipment/update(id=${dto.id})}">Внести изменения</option>
                    <option sec:authorize="hasRole('ADMIN')" th:value="@{/equipment/delete(id=${dto.id})}">Удалить единицу оборудования</option>
                    <option th:value="@{/equipment/addDocument(id=${dto.id})}">Прикрепить документ</option>
                </select>
            </td>
            <td align="center" th:utext="${dto.manufacturerCountry}">...</td>
            <td align="center" th:utext="${dto.manufacturer}">...</td>
            <td align="center" th:utext="${dto.manufacturingYear}">...</td>
            <td align="center" th:utext="${dto.machineNumber}">...</td>
            <td th:utext="${dto.details}">...</td>
            <td sec:authorize="hasRole('ADMIN')" th:utext="${dto.equipmentType.id}">...</td>
            <td sec:authorize="hasRole('ADMIN')" th:utext="${dto.area.id}">...</td>
            <td align="center">
                <a th:href="@{/equipment/showDocumentStorage(id=${dto.id})}">Открыть</a>
            </td>
        </tr>
    </table>
    <div sec:authorize="hasRole('ADMIN')">
    </br>
    <a th:href="@{/addEquipment}">Добавить новую единицу оборудования</a>
    </div>
    </br>
    <a th:href="@{/hello}">Перейти на главную страницу</a>
</div>
</body>
</html>