<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Перечень оборудования</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Модель</th>
            <th>Страна производства</th>
            <th>Фирма-производитель</th>
            <th>Год производства</th>
            <th>Заводской/серийный номер</th>
            <th>Дополнительная информация</th>
            <th>Id типа оборудования</th>
            <th>Id участка</th>
            <th>Файловое хранилище</th>
        </tr>
        <tr th:each ="dto : ${equipmentDTOs}">
            <td th:utext="${dto.id}">...</td>
            <td>
                <a th:utext="${dto.machineModel}"></a>
                <select onchange="top.location=this.value">
                    <option value="">--Выберите необходимое действие--</option>
                    <option th:value="@{/equipment/update(id=${dto.id})}">Внести изменения</option>
                    <option th:value="@{/equipment/delete(id=${dto.id})}">Удалить единицу оборудования</option>
                    <option th:value="@{/equipment/addDocument(id=${dto.id})}">Прикрепить документ</option>
                </select>

            </td>
            <td th:utext="${dto.manufacturerCountry}">...</td>
            <td th:utext="${dto.manufacturer}">...</td>
            <td th:utext="${dto.manufacturingYear}">...</td>
            <td th:utext="${dto.machineNumber}">...</td>
            <td th:utext="${dto.details}">...</td>
            <td th:utext="${dto.machineTypeId}">...</td>
            <td th:utext="${dto.areaId}">...</td>
            <td>
                <a th:href="@{/equipment/showDocumentStorage(id=${dto.id})}">Открыть</a>
            </td>
        </tr>
    </table>
    <div sec:authorize="hasRole('ADMIN')">
    </br>
    <a th:href="@{/addEquipment}">Добавить новую единицу оборудования</a>
    </div>
    </br>
    <a th:href="@{/hello}">Перейти на главную страницу</a>
</div>
</body>
</html>