<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
   <meta charset="UTF-8">
   <title>Title</title>
</head>
<body>
<div>Выберите требуемый раздел</div>
<br>
<a th:href="@{/allSection}">Цеха</a>
<select onchange="top.location=this.value">
   <option value="http://localhost:8080/hello">Выберите цех</option>
   <option value="http://localhost:8080/allArea">Участки</option>
   <option value="http://localhost:8080/allEquipmentType">Группы оборудования</option>
</select>
<br>
<a th:href="@{/allArea}">Участки</a>
<br>
<a th:href="@{/allEquipmentType}">Типы оборудования</a>
<br>
<a th:href="@{/allEquipment}">Оборудование</a>
</body>
</html>