<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List DTOs</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>FullName</th>
            <th>ShortName</th>
            <th>ConversationalName</th>
        </tr>
        <tr th:each ="dto : ${dtos}">
            <td th:utext="${dto.id}">...</td>
            <td th:utext="${dto.sectionFullName}">...</td>
            <td th:utext="${dto.sectionShortName}">...</td>
            <td th:utext="${dto.sectionConversationalName}">...</td>
        </tr>
    </table>
</div>
</body>
</html>