<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
   <meta charset="UTF-8">
   <title>Перечень цехов</title>
</head>
<body>
<div>
   <table border="1">
      <tr>
         <th>Id</th>
         <th>Полное название</th>
         <th>Короткое название</th>
         <th>Разговорное название</th>
      </tr>

         <tr th:each ="dto : ${sectionDTOs}">
         <td th:utext="${dto.id}">...</td>
         <td th:utext="${dto.sectionFullName}"></td>
         <td th:utext="${dto.sectionShortName}">...</td>
         <td th:utext="${dto.sectionConversationalName}">...</td>
      </tr>
   </table>
</div>
</body>
</html>