<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
   <meta charset="UTF-8">
   <title>Перечень цехов</title>
</head>
<body>
<div>
   <table border="1">
      <tr>
         <th>Id</th>
         <th>Полное название</th>
         <th>Короткое название</th>
         <th>Разговорное название</th>
      </tr>

         <tr th:each ="dto : ${sectionDTOs}">
         <td th:utext="${dto.id}">...</td>
         <td>
            <a th:utext="${dto.sectionFullName}"></a>
            <select onchange="top.location=this.value">
               <option value="">--Выберите необходимое действие--</option>
               <option th:value="@{/allAreaBySectionId(id=${dto.id})}">Показать список участков</option>
               <option th:value="@{/section/update(id=${dto.id})}">Редактировать цех</option>
               <option th:value="@{/section/delete(id=${dto.id})}">Удалить цех</option>
            </select>
         </td>
         <td th:utext="${dto.sectionShortName}">...</td>
         <td th:utext="${dto.sectionConversationalName}">...</td>
      </tr>
   </table>
   <div sec:authorize="hasRole('ADMIN')">
      </br>
   <a th:href="@{/addSection}">Создать новый цех</a>
   </div>
   </br>
   <a th:href="@{/hello}">Перейти на главную страницу</a>
</div>
</body>
</html>