<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Внесение изменений</title>
</head>
<body>
<form action="" th:method="put" class="section-update">
    <div class="section-update">
        <label th:for="fullName">Введите новое полное название:</label>
        <input type="text" name="fullName" required>
    </div>
    <div class="section-update">
        <label th:for="shortName">Введите новое короткое название:</label>
        <input type="text" name="shortName" required>
    </div>
    <div class="section-update">
        <label th:for="conversationalName">Введите новое разговорное название:</label>
        <input type="text" name="conversationalName" required>
    </div>
    <div class="section-update">
        <input type="submit"value="Обновить">
    </div>
</form>
</body>
</html>