<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Изменение существующего цеха</title>
</head>
<body>
<form th:action="@{/section/update(id=${id})}" th:object="${sectionUpdateRequest}" th:method="POST">
    <label hidden>Id</label>
    <input type="text" th:field="*{sectionId}" hidden>
    Полное название
    <input type="text" th:field="${sectionDTO.sectionFullName}" required>
    </br>
    Короткое название
    <input type="text" th:field="${sectionDTO.sectionShortName}">
    </br>
    Разговорное название
    <input type="text" th:field="${sectionDTO.sectionConversationalName}">
    </br>
    <input type="submit" value="Внести изменения">
</form>
</body>
</html>