<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
  <meta charset="UTF-8">
  <title>Внести изменения в профиль пользователя</title>
  <body>
        <form th:action="@{/admin/update(id=${userProfile.id})}" th:object="${userProfile}" th:method="POST">
          Username
          <input type="text" th:field="*{username}" required>
          </br>
          Password
          <input type="text" th:field="*{password}">
          </br>
          <p sec:authorize="hasRole('ADMIN')">
            Add role
            <select multiple name="roles">
              <option th:each="role: ${rolesList}" th:value="${role.id}" th:label="${role.name}"></option>
            </select>
          </p>
          <input type="submit" value="Внести изменения">
        </form>
  </body>
</html>
